@import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";
/* line 2, ../scss/index.scss */
body, body * {
  transform: translate3d(0, 0, 0);
}

/* line 6, ../scss/index.scss */
h1 {
  font-family: "Roboto", sans-serif;
  line-height: 1.20;
  font-weight: 700;
  opacity: 1.0;
  letter-spacing: -0.72px;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 10px;
}

/* line 18, ../scss/index.scss */
h2 {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-weight: 600;
  opacity: 1.0;
  letter-spacing: -0.72px;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 5px;
}

/* line 30, ../scss/index.scss */
h3 {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-weight: 400;
  opacity: 0.9;
  letter-spacing: 0;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 5px;
}

/* line 42, ../scss/index.scss */
span, p {
  font-family: "Open Sans", sans-serif;
  line-height: 2;
  font-weight: 400;
  opacity: 0.7;
  letter-spacing: -0.06px;
  word-spacing: 0;
  text-transform: none;
  margin-top: 0;
}

/* line 53, ../scss/index.scss */
html, body {
  width: 100%;
  margin: 0;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 61, ../scss/index.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 66, ../scss/index.scss */
.container {
  display: flex;
  flex-direction: column;
}

/* line 71, ../scss/index.scss */
.text-container {
  color: #ffffff;
}

/* line 75, ../scss/index.scss */
.row {
  flex-direction: row;
}

/* line 79, ../scss/index.scss */
.hint {
  color: #ffffff;
  display: flex;
  height: 10vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* line 88, ../scss/index.scss */
.hint:first-of-type {
  top: 99vh;
}

/* line 92, ../scss/index.scss */
.section {
  width: 100%;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

/* line 103, ../scss/index.scss */
.section:first-child {
  height: 90vh;
}

/* line 107, ../scss/index.scss */
.section:not(:first-child) {
  padding-top: 125px;
  background-color: #f3f3f3;
}

/* line 112, ../scss/index.scss */
#contact {
  padding-top: 0;
}

/* line 116, ../scss/index.scss */
.work-list {
  margin: 50px !important;
  width: 100%;
  max-width: 800px;
}

/* line 122, ../scss/index.scss */
.work-table {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* line 128, ../scss/index.scss */
.work-dates {
  width: 30%;
  display: block;
  text-align: end;
  margin-right: 20px;
}

/* line 135, ../scss/index.scss */
.work-body {
  width: 70%;
}

/* line 139, ../scss/index.scss */
.project-list {
  margin: 50px !important;
  width: 100%;
  max-width: 800px;
}

/* line 145, ../scss/index.scss */
.project-table {
  width: 100%;
}

/* line 151, ../scss/index.scss */
.project-body {
  padding-left: 20px;
}

/* line 155, ../scss/index.scss */
.skill-category:first-of-type {
  margin-top: 50px;
}

/* line 159, ../scss/index.scss */
.skill-list {
  margin: 50px !important;
  width: 100%;
  max-width: 800px;
}

/* line 165, ../scss/index.scss */
.skill-table {
  width: 100%;
}

/* line 171, ../scss/index.scss */
.skill-body {
  padding-left: 20px;
}

/* line 175, ../scss/index.scss */
.social-icons {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

/* line 181, ../scss/index.scss */
.profile-pic {
  transition: .5s;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.75em;
  -webkit-filter: invert(1%);
}

/* line 189, ../scss/index.scss */
.profile-pic:hover {
  -webkit-filter: invert(30%);
}

/* line 193, ../scss/index.scss */
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  margin-right: 15px;
}

/* line 201, ../scss/index.scss */
.profile-pic, .front, .back {
  width: 144px;
  height: 144px;
  border-radius: 50% !important;
}
