{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class='section main-content'>
    <div class='container animated fadeInRight row'>
        <div class='flip-container'>
            <img class='profile-pic' src='{% static 'images/profile.jpg' %}'></img>
        </div>
        <div class='text-container'>
            <div class='link name'><h2>Matthew Jordan</h2></div>
            <div class='link resume'><h4><a href=#>Resume</a></h4></div>
            <div class='link email'><h5><a href=#>matthewsages@gmail.com<a></h5></div>
            <div class='link twitter'><h5><a href=#>@jordanma1998</a></h5></div>
        </div>
    </div>

</div>
<div id='about-me' class='section'>
    <h1>Bio</h1>
    <p class='paragraph-text'>
        Hows it going? My name is Matthew Jordan and thanks for stopping by my website. This is a
        place to pretty much keep tabs on who I am and what im working on.
    </p>

    <p class='paragraph-text'>
        My first program I wrote was in 3rd grade on the Blender 3D engine to make a math-based
        video game for a school project. I used python exclusively for the first 5 years of my
        programming experience and to this day it remains one of my favorite languages. A few years
        later I had moved on from 3D games and onto web development.
    </p>

    <p class='paragraph-text'>
        My first web development project I worked on was for my friend's music collective. The
        project involved port forewarding an Apache web server on a dinky 2009 mac mini running
        and old version of Snow Leopard. While working on the site, I learned about new languages
        and software such as HTML, CSS, PHP, and Apache. This early experience proved pivotal to
        my early love of web dev.

    </p>


</div>
{% endblock %}
