{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class='section main-content'>
    <div class='container animated fadeInRight row'>
        <div class='flip-container'>
            <img class='profile-pic' src='{% static 'images/profile.jpg' %}'></img>
        </div>
        <div class='text-container'>
            <div class='link name'><h2>Matthew Jordan</h2></div>
            <div class='link resume'><h4><a href=#>Resume</a></h4></div>
            <div class='link email'><h5><a href=#>matthewsages@gmail.com<a></h5></div>
            <div class='link twitter'><h5><a href=#>@jordanma1998</a></h5></div>
        </div>
    </div>

</div>
{% endblock %}
