@import 'mixins';

html, body {
    margin-top: 0;
}

// .row {
//
// }
//
.container {
    height: 100vh;
    @include backgroundImage('https://farm4.staticflickr.com/3262/3159517227_65c6a84332_b.jpg');

    .content {
        width: 30%;
        margin-top: 35vh;
        margin-left: auto;
        margin-right: auto;
        color: white;
        background-color: rgba(0,0,0,0.4);
        height: 200px;
        border-radius: 3px;
    }
}

footer {

    a {
        text-decoration: none !important;
        color: lightgray !important;
        @include transitions(0.5s);
    }

    a:hover {
        color: green !important;
    }

    background-color: rgba(0,0,0,0.5);
    color: lightgray;
    text-decoration: none;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}
