@import 'mixins';
@import 'index';

html, body, div {
    margin-top: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
    color: orange;
    @include transitions(0.5s);
}

.card-link:hover {
    color: black;
}

.paragraph-text {
    width: 60%;
    min-width: 200px;
    margin-bottom: 20px;
}

.main-content {
    height: 100vh !important;

    .link:hover a {
        color: white
    }

    @include backgroundImage('https://i.ytimg.com/vi/C5wBkVrZAbo/maxresdefault.jpg');

    background-attachment: fixed;
}

.card {
    border: 0px;
    @include transitions(0.5s);
    @include box_shadow(1);
}

.card:hover {
    @include box_shadow(3);
    -webkit-transform: translate3d(0, -0.5%, 0);
    transform: translate3d(0, -0.5%, 0);
}

#works {

    a {
        color: black;
    }

    a:hover {
        color: orange;
    }
}

#toolbox {
    h1 {
        color: white;
    }
    
    background-attachment: fixed;
    @include backgroundImage('https://newevolutiondesigns.com/images/freebies/google-material-design-wallpaper-20.jpg');
}

footer {

    a:hover {
        color: white !important;
    }

    .bs-docs-footer-links {
        padding-left: 0;
        margin-bottom: 20px;
    }
    .bs-docs-footer-links li {
        display: inline-block;
    }
    .bs-docs-footer-links li + li {
        margin-left: 15px;
    }


    padding-top: 50px;
    padding-bottom: 50px;
    // margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
    // position: fixed;
    // bottom: 0;
}
