@import 'mixins';
@import 'index';

html, body, div {
    margin-top: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
    color: orange;
    @include transitions(0.5s);
}

.card-link:hover {
    color: black;
}

.paragraph-text {
    width: 60%;
    min-width: 200px;
    margin-bottom: 20px;
}

.main-content {
    height: 100vh !important;

    .link:hover a {
        color: white
    }

    @include backgroundImage('https://i.ytimg.com/vi/C5wBkVrZAbo/maxresdefault.jpg');

    background-attachment: fixed;
}

.card {
    border: 0px;
    @include transitions(0.5s);
    @include box_shadow(1);
}

.card:hover {
    @include box_shadow(3);
    -webkit-transform: translate3d(0, -0.5%, 0);
    transform: translate3d(0, -0.5%, 0);
}

footer {

    a {
        text-decoration: none !important;
        color: lightgray !important;
        @include transitions(0.5s);
    }

    a:hover {
        color: green !important;
    }

    background-color: rgba(0,0,0,0.5);
    color: lightgray;
    text-decoration: none;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}
